// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import 'treeview';


.center-block-600 {
  margin: 15px auto;
  width: 600px;
  max-width: 100%;
}

.folder {
  .glyphicon {
    padding-right: 5px;
  }
}